<!-- result.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <style>
        /* Style the button */
        .reserve-button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        .reserve-button:hover {
            background-color: #2b812e;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <img src="/public/images/HotelPixelArt.png" style="width:50px;height:50px;float: left;">
            <h1 class="nav-heading"><a href="/">Hestia Hotels</a></h1>
        </nav>
    </header>
    <h1>Search Result</h1>
    <table>
        <thead>
            <tr>
                <th>Chambres ID</th>
                <th>Prix</th>
                <th>Commodités</th>
                <th>Capacité</th>
                <th>Superficie</th>
                <th>Particularité</th>
                <th>Classement</th>
                <th>Rue</th>
                <th>Numéro de Rue</th>
                <th>Ville</th>
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <td><%= row.chambres_id %></td>
                    <td><%= row.prix %></td>
                    <td><%= row.commodites %></td>
                    <td><%= row.capacite %></td>
                    <td><%= row.superficie %></td>
                    <td><%= row.particularite %></td>
                    <td><%= row.classement %></td>
                    <td><%= row.rue %></td>
                    <td><%= row.num_de_rue %></td>
                    <td><%= row.ville %></td>
                    <td>
                        <form action="resresults" method="post">
                            <input type="hidden" name="chambres_id" value="<%= row.chambres_id %>">
                            <input type="hidden" name="prix" value="<%= row.prix %>">
                            <input type="hidden" name="commodites" value="<%= row.commodites %>">
                            <input type="hidden" name="capacite" value="<%= row.capacite %>">
                            <input type="hidden" name="superficie" value="<%= row.superficie %>">
                            <input type="hidden" name="particularite" value="<%= row.particularite %>">
                            <input type="hidden" name="classement" value="<%= row.classement %>">
                            <input type="hidden" name="rue" value="<%= row.rue %>">
                            <input type="hidden" name="num_de_rue" value="<%= row.num_de_rue %>">
                            <input type="hidden" name="ville" value="<%= row.ville %>">
                            <input type="hidden" name="startdate" value="<%= startdate %>">
                            <input type="hidden" name="enddate" value="<%= enddate %>">
                            <button type="submit" class="reserve-button">Réserver</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <div class="button-container">
        <a href="ressearch"><button class="button" >Changez les criteres</button></a>
    </div>
</body>
</html>

