<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hestia Hotels</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <style>
        .form-group label {
            margin-left: 0px;
            margin-top: 10px;
        }

        .form-group input[type="submit"] {
            margin-left: -10px;
            /* This looks really dumb LOL but I have no idea why it wasn't working
            at 0 so I have to do -10px */
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <img src="/public/images/HotelPixelArt.png" style="width:50px;height:50px;float: left;">
            <h1 class="nav-heading"><a href="/">Hestia Hotels</a></h1>
        </nav>
    </header>

    <h1>Page de reservation</h1>
    <hr>
    <h2 class="h2-intro">Mettez vos critères voulues</h2>

    <% const hoteloptions = hotels; %>    
    <% const villeoptions = villes; %>
    <% const superficieoptions = superficie; %>
    <% const nchambresoptions = nchambres; %>
    <% const capaciteoptions = ['1','2','3','4','5', 'No preferance']; %>
    <% const categorieoptions = ['5','4','3','2', 'No preferance']; %>
    
    <div class="form-group">
        <form action="ressearch" method ="post">
            <label for="dropdown">Sélectionner votre hôtel de choix:</label>
            <select id="chaine_hotel" name="chaine_hotel">
                <% hoteloptions.forEach(option => { %>
                    <option value="<%= option %>"><%= option %></option>
                <% }); %>
            </select>
            <br>
            <label for="dropdown">Dans quelle ville voulez-vous restez?:</label>
            <select id="ville" name="ville">
                <% villeoptions.forEach(option => { %>
                    <option value="<%= option %>"><%= option %></option>
                <% }); %>
            </select>
            <br>
            <label for="dateInput">De quelle à quelle data?:</label>
            <input type="date" id="startdate" name="startdate"> To
            <input type="date" id="enddate" name="enddate">
        
            <br>
            <label for="dropdown">Combien de personnes restes?</label>
            <select id="capacite" name = "capacite">
                <% capaciteoptions.forEach(option => { %>
                    <option value="<%= option %>"><%= option %></option>
                <% }); %>
            </select>
            <br>
            <label for="dropdown">Catégorie?</label>
            <select id="categorie" name = "categorie">
                <% categorieoptions.forEach(option => { %>
                    <option value="<%= option %>"><%= option %></option>
                <% }); %>
            </select>
            <br>
            <label for="dropdown">Superficie?</label>
            <select id="superficie" name = "superficie">
                <% superficieoptions.forEach(option => { %>
                    <option value="<%= option %>"><%= option %></option>
                <% }); %>
            </select>
            <br>
            <label for="dropdown">Le nombre de chambres dans l'hôtel?</label>
            <select id="nchambres" name = "nchambres">
                <% nchambresoptions.forEach(option => { %>
                    <option value="<%= option %>"><%= option %></option>
                <% }); %>
            </select>
            <br>
            <label for="dateInput">De combien à combien voulez-vous dépenser?:</label>
            <input type="text" id="minprice" name="minprice"> À
            <input type="text" id="maxprice" name="maxprice">
        
            <br>
            <br>
        
            <div class="form-group"><input type="submit" value="Submit"></div>
        </form>
    </div>

</body>
</html>
