<!-- result.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <style>
        /* Style the button */
        .reserve-button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <img src="/public/images/HotelPixelArt.png" style="width:50px;height:50px;float: left;">
            <h1 class="nav-heading"><a href="/">Hestia Hotels</a></h1>
        </nav>
    </header>
    <h1>Search Result</h1>
    <table>
        <thead>
            <tr>
                <th>Nom du chambre</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <td><%= row.chambres_id %></td>
                    <td><%= row.date_de_début %></td>
                    <td><%= row.date_de_fin %></td>
                    
                    <td>
                        <form action="cancelRes" method="post">
                            <input type="hidden" name="chambres_id" value="<%= row.chambres_id %>">
                            <input type="hidden" name="startdate" value="<%= row.date_de_début %>">
                            <input type="hidden" name="enddate" value="<%= row.date_de_fin %>">
                            <button type="submit" class="reserve-button">Annuler</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>